Repository Rtarun3606k/Walkez, pull requests merged in 2025-01, with the labels that each got.

#106 Use Poppins instead of Comfortaa; streamlined font-family
  ALL TEMPLATES/Footer/style.css
  ALL TEMPLATES/Login page/style.css
  ALL TEMPLATES/Navbar/AfterNav.css
  ALL TEMPLATES/User-upload/style.css
  ALL TEMPLATES/about/about.css
  ALL TEMPLATES/registration page/1.css
  ALL TEMPLATES/service_page/service.css
  Landing page/style.css
  backend/templates/change_password.html
  backend/templates/change_password_template.html
  backend/templates/email_already_verified.html
  backend/templates/email_template.html
  backend/templates/email_verification_failed.html
  backend/templates/email_verification_success.html
  frontend/src/CSS/User_Css/Login.css
  frontend/src/CSS/User_Css/Nav.css
  frontend/src/CSS/User_Css/Register.css
  frontend/src/CSS/User_Css/service.css
  frontend/src/index.css
  frontend/tailwind.config.js
Labels: SWOC, SWOC2025, SWOC25, Easy, Beginner

#100 feat: implement local storage caching for user profile data
  frontend/src/Pages/User_Pages/User_profile.jsx
Labels: SWOC, SWOC2025, SWOC25, Intermediate

#110 Cache home route
  backend/.gitignore
  backend/Routes/cache.py
  backend/app.py
  backend/requirements.txt
Labels: SWOC, SWOC2025, SWOC25, Medium, Intermediate

#120 Figma layout for admin dashboard
  frontend/Design/Admin-dashboard.png
Labels: good first issue, SWOC, SWOC2025, SWOC25, Easy, Beginner

#119 Darkmode
  Landing page/scripts.js
  Landing page/style.css
  frontend/package-lock.json
  frontend/package.json
Labels: SWOC, SWOC2025, SWOC25, Beginner

#125 Chatbot added in HTML file
  Landing page/index.html
  frontend/index.html
  package-lock.json
Labels: SWOC, SWOC2025, SWOC25, Intermediate
